.App {
  display: flex;
  flex-flow: column;
  height: 100vh;
  background-color: #eaeaea;
}

.Navbar {
  flex: 0 0 50px;
  width: 100%;
}

.Card {
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.Body {
  --margin: 12px;
  margin: var(--margin);
  width: calc(100% - var(--margin) * 2);
  flex: 1 2 auto;
  min-height: 0;
  display: flex;
  flex-flow: row;
}

.RightSide {
  flex: 0 1 400px;
  height: 100%;
}

.Notepad {
  --padding: 5px;
  padding: var(--padding);
  height: 100%;
}

.LeftSide {
  flex: 1 1 auto;
  height: 100%;
  display: flex;
  flex-flow: column;
  min-height: 0;
  min-width: 0;
  margin-right: 12px;
}

.PlayerWrapper {
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  background-color: black;
}

.LinkshareWrapper {
  margin-top: 12px;
  width: 100%;
  flex: 0 1 100px;
}

.LinkshareBody {
  --padding: 5px;
  padding: var(--padding);
  height: 100%;
}
